.react-calendar {
	font-size: 14px;
	background: #fff;
}

.react-calendar__header {
	display: flex;
	justify-content: center;
	position: relative;
	padding: 25px 0;
}

.react-calendar__control {
	margin: 0 auto;
	width: 240px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #1e2329;
}

.react-calendar__arrow {
	width: 44px;
	text-align: center;
}

.react-calendar__arrow--right:after {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #c7d2d0;
}

.react-calendar__arrow--left:after {
	display: inline-block;
	content: '';
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #c7d2d0;
}

.react-calendar__title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
}

.react-calendar__month {
  margin-left: 10px;
}

.react-calendar__main {
	display: block;
  overflow: hidden;
}

.react-calendar__weekdays {
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	font-size: 11px;
	color: #1e2329;
}

.react-calendar__weekday {
	flex: 1 0 14.2%;
	text-align: center;
  z-index: 10;
  background: #fff;
}

.react-calendar__days {
	display: flex;
	flex-wrap: wrap;
}

.react-calendar__day {
	flex: 1 0 14.2%;
	margin: 3px 0;
	text-align: center;
	font-size: 12px;
	color: #000;
}

.react-calendar__day span {
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
}

.react-calendar__day--today span {
	border-radius: 50%;
	background: #f5a781;
	color: #fff !important;
}

.react-calendar__day--selected span {
	border-radius: 50%;
	background: #eb4f04;
	color: #fff !important;
}

.react-calendar__day--othermonth span {
	border-radius: 50%;
	color: #ccc;
}

.react-calendar__day--decorate {
	position: relative;
}

.react-calendar__day--decorate:after {
	content: '';
	position: absolute;
	bottom: 2px;
	left: 0;
	right: 0;
	margin: auto;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #eb4f04;
}

.react-calendar__day--selected.react-calendar__day--decorate:after {
  background: #fff;
}
